#greenDark {
    color: #679436;
}

#greenLight {
    color: #9BC04F;
}

#pinkDark {
    color: #631E35;
}

#pinkMedium {
    color: #A53157;
}

#pinkBright {
    color: #FF5C91;
}

#pinkLight {
    color: #FF90AD;
}

#blueDark {
    color: #194e64;
}

#blueLight {
    color: #478aa5;
}
