#green0 {
    color: #c2fcc2;
}

#green1 {
    color: #A4FBA6;
}

#green2 {
    color: #4ae54a;
}

#green3 {
    color: #30cb00;
}

#green4 {
    color: #0f9200;
}

#green5 {
    color: #006203;
}

#green6 {
    color: #004003;
}